@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black: #000000;
  --secondary-black: #121212;
  --accent-red: #ff0000;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --dot-matrix: var(--font-dot-matrix);
}

body {
  background-color: var(--primary-black);
  color: var(--text-primary);
  font-family: var(--font-geist-mono);
}

.music-container {
  @apply min-h-screen w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.player-container {
  @apply w-full max-w-md mx-auto rounded-3xl bg-secondary-black p-8;
}

.dot-matrix-text {
  font-family: var(--dot-matrix);
  @apply tracking-wider;
}
